@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(aqua, blue);
    font-family: 'Poppins', sans-serif;
}

.contactsbox {
    border: white solid 10px;
    border-radius: 25px;
    width: 50rem;
    height: 50rem;
    background: white;

    -webkit-animation: fadeIn 1.2s both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

.contactsbox h1 {
    text-align: center;
    font-size: 50px;
}

.contactsbox .icons {
    margin: 130px;
    padding: 10px;
}